select.form-control.km {
    padding-top: 0;
    padding-bottom: 0;
}
.form-group {
    margin-bottom: 1rem !important;
}
.modal-content{
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 18px;
}
tr.shown td.details-control {
    background: url(../images/details_close.png) no-repeat center center;
}
td, th {
    white-space: nowrap !important;
}
.dataTables_filter {
    color: #607D8B;
}